# Copy to terraform.tfvars (gitignored) and tune.
# pod_name     = "my-qminiwasm-pod"
# image_name   = "runpod/pytorch:2.1.0-py3.10-cuda11.8.0-devel"
# gpu_count    = 1
# cloud_type   = "COMMUNITY"
# ports        = ["8888/http", "22/tcp"]
